* {
        margin: 0;
        padding: 0;
    }

    h1 {
        text-align: center;
    }

    .progresssec {
        margin: 30px 0;
        position: relative;
    }

    #progressLabel,
    #progressLabel1,
    #progressLabel2 {
        position: absolute;
        left: 50%;
        top: 3px;
        margin: 0;
    }

    .ui-widget-header {
        background:#bcdce5;
    }

    .max .ui-widget-header {
        background:#e55154;
    }

    .ui-progressbar .ui-progressbar-value {
        height: 2em;
    }

    .progressbardiv {
        pointer-events: none;
    }

    .form-control {
        width: auto
    }
    .ui-widget.ui-widget-content{
        border:2px solid #bcdce5;
        border-radius: 0;
    }
    .progressnumber{
        float: left;
        width: 32px;
        height: 32px;
        border: 2px solid #e55154;
        text-align: center;
        margin-right: 2px;
    }
    .progresssec.active .progressnumber{
        background: #e55154;
        color: #fff;
    }
  
